* {
	margin: 0px;
	padding: 0px;
}


html, body{
	height: 95%; 
}


hr {
 border: none;
 color: #337ab7; 
 background-color: #337ab7; 
 height: 2px;
}

/* Header */

.header {
	background: url('../img/gray_jean.png') repeat;
	padding: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}

.header-brand {
	padding: 0px 15px;
	margin: 0 15px;	
}

/* Photoset */
.photosets {
	height: 100%;
	margin: 50px auto -50px;
	background-color: #eee;
	padding: 25px;
	text-align: center;
	background: url('../img/grey_wash_wall.png') repeat;
}

.photoset {
	display: inline-block;
	width: 250px;
	height: 390px;

	background-color: #E9D4B9;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);

	overflow: hidden;
	margin: 10px;
	border: 5px solid #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
}
.photoset:hover {
	text-decoration: none;	
	transform: translateY(2px);
	-moz-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	transition: all .5s;
}

.photoset img {
	width: 250px;
	height: 200px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.photoset h4 {
	height: 40px;
	text-align: center;
	font-weight: bold;
	color: #282828;
	text-decoration: none;
}

.photoset p {
	overflow: hidden;
	padding: 5px;
	color: #282828;
	font-size: 0.9em;
	text-align: justify;
	text-indent: 10px;
	text-decoration: none;
}

/* Photo */
.photos {
	color: #fff;
}

.photo {
	display: inline-block;
	width: 350px;
	margin: 10px;
	max-height: 300px;
	position: relative;
	overflow: hidden;
	border-radius: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
}
.photo img {
	width: 350px;
	max-height: 300px;
}

.photo:after {
	content: attr(title);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 350px;
	height: 100px;
	overflow: hidden;
	opacity: .85;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 100px;
	visibility: hidden;
	cursor: pointer;
}

.photo:hover:after {
	visibility: visible;
	-moz-transition: all 1.5s;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}

/* Footer */
.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 50px;
	margin: auto;
	background: url('../img/gray_jean.png') repeat;

	box-shadow: 2px 0 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: 2px 0 3px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, .25);
}

/* Tooltip */
/* .my-tooltip {
	width: 300px;
	height: 100px;
	background-color: #444;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.my-tooltip:after {
	content: attr(title);
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #444;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	bottom: -10px;
	left: 140px;
} */
/* Media queries */

@media only screen and (max-width: 768px){

	.header {
		height: 50px;
	}
	.photoset {
		height: 350px;
		width: 250px;
	}
	.photoset img {
		width: 250px;
		height: 200px;
	}

}

@media only screen and (max-width: 500px){

	.header {
		height: 50px;
	}
	.photoset {
		height: 150px;
		width: 150px;
	}
	.photoset img {
		width: 150px;
		height: 120px;
	}
	.photoset p {
		display: none;
	}
	.footer {
		display: none;
	}
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}