<div class="row">
	<h1>{{result.photoset.title}}</h1>
	<hr>
	<a class="photo" ng-repeat="photo in result.photoset.photo track by $index" data-toggle="tooltip" data-original-title="{{photo.title}}" title="{{photo.title}}" data-placement="top" tooltip ng-href="https://www.flickr.com/photos/{{userID}}/{{photo.id}}" target="_blank">

		<img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="{{photo.title}}">	
		
	</a>
	<div class="clear"></div>
</div>
